@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
  min-width: 615px;
}
img {
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.navbar {
  width: 510px;
  margin-top: 10px;
}

.navbar-header {
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

.navbar-brand {
  float: none;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.input-bar {
  /* nothing in here at the moment */
}

.card {
  width: 120px;
}

@media (max-width: 700px) {
  .navbar {
    width: 420px;
  }
  .card {
    width: 100px;
  }
}

@media (max-width: 415px) {
  .navbar {
    width: 340px;
  }
  .card {
    width: 90px;
  }
}

input[type='text'] {
  width: 250px;
}

.theme {
  font-size: 14px;
  font-style: italic;

}

.message {
  margin-top: 10px;
}

.btn-xlarge {
    padding: 18px 28px;
    background-color: #3498DB;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn {
  margin: 5px;
}
