@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
}
img {
/*   padding:1px;
   border:1px solid #021a40;
   background-color: #FFFFFF;*/
   box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
  /* box-shadow: -4px -4px 2px -2px rgba(0,0,0,0.4);*/
 /*   border: 1px solid rgba(0,0,0,0.1);
  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.3),
    inset 0 -2px 3px rgba(0,0,0,0.3),
    0 1px 1px rgba(255,255,255,0.9);*/

}

input[type='text'] {
  margin-left: 10px;
  width: 250px;
}

.theme {
  margin-left: 10px;
  /*font-weight: lighter;*/
}


.message {
  margin-top: 10px;
}
/*input[type='submit']{
  width: 20%;
}*/